<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @iconographic_attribute.name %>
</p>

<%= link_to 'Edit', edit_iconographic_attribute_path(@iconographic_attribute) %> |
<%= link_to 'Back', iconographic_attributes_path %>
