<div class="control-group">
  <%= f.label :origin, :class => 'control-label' %>
  <div class="controls">
    <%= f.collection_select :origin_id, Origin.all, :id, :name,  {:prompt => 'Seleccione el origen'} %>
    <% if params[:action] == "edit" %>
        <%= check_box_tag  "delete_origin", true %>
    <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
