<div class="control-group">
  <%= f.label :story_type, :class => 'control-label' %>
  <div class="controls">
    <%= f.collection_select :story_type_id, StoryType.all, :id, :name,  {:prompt => 'Seleccione el tipo de historia'} %>
    <% if params[:action] == "edit" %>
        <%= check_box_tag  "delete_story_type", true %>
    <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
