<div class="control-group">
  <%= f.label :place, :class => 'control-label' %>
  <div class="controls">
    <%= f.collection_select :place_id, Place.all, :id, :name,  {:prompt => 'Seleccione el lugar'} %>
    <% if params[:action] == "edit" %>
        <%= check_box_tag  "delete_place", true %>
    <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
