<div class="control-group">
  <%= f.label :phylactery_billboard, :class => 'control-label' %>
  <div class="controls">
    <%= f.collection_select :phylactery_billboard_id, PhylacteryBillboard.all, :id, :name,  {:prompt => 'Cartelera Filacteria'} %>
    <% if params[:action] == "edit" %>
        <%= check_box_tag  "delete_phylactery_billboard", true %>
    <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
