<div class="control-group">
  <%= f.label :school, :class => 'control-label' %>
  <div class="controls">
    <%= f.collection_select :school_id, School.all, :id, :name,  {:prompt => 'Seleccione la escuela'} %>
    <% if params[:action] == "edit" %>
        <%= check_box_tag  "delete_school", true %>
    <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
