<%= @artworks.count %>
<br>
<br>
<br>
<h6>
            [   {"date":"Feb. 18, 2003",
                "display_date":"","description":"Brock Savelkoul joins the Army and is stationed at Fort Riley, Kan., in the artillery division.  His assigned position is artillery survey, meaning he prepares terrain for mounting artillery canon.",
                "link":"",
                "series":"",
                "html":"Brock Savelkoul",
                "timestamp":1045544400000}],
            {"interval":"","container":"#timeline"}
<br>
<br>
  <%= json_artworks_timeline @artworks %> ,{"interval":"","container":"#timeline"}
</h6>
<div id="timeline"></div>
<script type="text/javascript">
    var currentTimeline = TimelineSetter.Timeline.boot(
            [{"date":"Feb. 18, 2003","display_date":"","description":"Brock Savelkoul joins the Army and is stationed at Fort Riley, Kan., in the artillery division.  His assigned position is artillery survey, meaning he prepares terrain for mounting artillery canon.","link":"","series":"","html":"Brock Savelkoul","timestamp":1045544400000},
              {"date":"Aug. 10, 2003","display_date":"","description":"Savelkoul deploys to Iraq, where he is based at Camp Forehead, near the Mansour District of Baghdad. ","link":"","series":"","html":"Brock Savelkoul","timestamp":1060491600000}],
            {"interval":"","container":"#timeline"}
    );
</script>
<noscript>
  <table>
    <thead>
    <tr>
      <th>date</th>
      <th>series</th>
      <th>description</th>
      <th>link</th>
      <th>html</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td>Feb. 18, 2003</td>
      <td></td>
      <td>Brock Savelkoul joins the Army and is stationed at Fort Riley, Kan., in the artillery division.  His assigned position is artillery survey, meaning he prepares terrain for mounting artillery canon.</td>
      <td></td>
      <td>Brock Savelkoul</td>
    </tr>



    </tbody>
  </table>
</noscript>
