<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_art_symbol.name %>
</p>

<%= link_to 'Edit', edit_work_art_symbol_path(@work_art_symbol) %> |
<%= link_to 'Back', work_art_symbols_path %>
