<p id="notice"><%= notice %></p>

<p>
  <strong>Body Gesture:</strong>
  <%= @body_gesture.name %>
</p>

<%= link_to 'Edit', edit_body_gesture_path(@body_gesture) %> |
<%= link_to 'Back', body_gestures_path %>
