<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phylactery_billboard.name %>
</p>

<%= link_to 'Edit', edit_phylactery_billboard_path(@phylactery_billboard) %> |
<%= link_to 'Back', phylactery_billboards_path %>
