.portfolio-item {
    margin-bottom: 25px;
}

#world_map
{
    margin-left: auto;
    margin-right: auto;
}

.panel-collapse .panel-body
{
    padding: 0px !important;
}

.panel-body .panel-group
{
    margin-bottom: 0px !important;
}

.jvectormap-container
{
background-color: #f9f9fb !important;

}