.version.index /* version checker */
{
	color: #0000E1;
	background-color: #C206A9;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1606.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
}

#slideshowu2682
{
	z-index: 2;
	width: 0.01px;
	height: 494px;
	left: -100px;
	position: relative;
}

#u2695
{
	position: absolute;
	width: 1220px;
	height: 494px;
	background-color: transparent;
}

#u2695popup
{
	z-index: 3;
}

#u2709
{
	z-index: 4;
	width: 1220px;
	height: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3532
{
	z-index: 6;
	width: 1220px;
	height: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2753-3
{
	z-index: 167;
	width: 5px;
	background-color: transparent;
	margin-left: 517px;
	top: -485px;
	margin-bottom: -17px;
	position: relative;
}

#home
{
	margin-left: 517px;
	top: -432px;
	margin-bottom: -18px;
	position: relative;
}

#pu2732
{
	z-index: 155;
	width: 0.01px;
	position: relative;
	margin-left: 292px;
	margin-top: -278px;
}

#u2732
{
	z-index: 0;
	width: 436px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2733
{
	width: 0.01px;
	position: relative;
	left: 15px;
	padding-top: 13px;
	z-index: 2;
	padding-bottom: 14px;
}

#u2733
{
	z-index: 156;
	width: 155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	position: relative;
}

#u2735
{
	z-index: 157;
	margin-bottom: -9px;
	position: relative;
	width: 60px;
	margin-right: -10000px;
}

#u2735_img
{
	display: block;
	vertical-align: top;
}

#u2734-4
{
	z-index: 159;
	width: 93px;
	min-height: 27px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 62px;
}

#u2737-4
{
	z-index: 163;
	display: block;
	vertical-align: top;
	margin-top: 11px;
	position: relative;
}

#u154
{
	z-index: 153;
	height: 41px;
	border-color: #000000;
	background-color: #C1272D;
}

#u154-bw
{
	z-index: 153;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 453px;
}

#menuu2759
{
	z-index: 170;
	width: 794px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 466px;
	left: 120px;
}

#u2767
{
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u2768
{
	width: 80px;
	background-color: transparent;
	position: relative;
}

#u2768:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2770-4
{
	width: 50px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u2768:hover #u2770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2768:hover #u2770-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2781
{
	width: 101px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u2784
{
	width: 101px;
	background-color: transparent;
	position: relative;
}

#u2768.MuseMenuActive,#u2784:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2785-4
{
	width: 71px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u2768.MuseMenuActive #u2770-4,#u2784:hover #u2785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2768.MuseMenuActive #u2770-4 p,#u2784:hover #u2785-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2760
{
	width: 249px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u2761
{
	width: 249px;
	background-color: transparent;
	position: relative;
}

#u2784.MuseMenuActive,#u2761:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2763-4
{
	width: 220px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u2784.MuseMenuActive #u2785-4,#u2761:hover #u2763-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2784.MuseMenuActive #u2785-4 p,#u2761:hover #u2763-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2795
{
	width: 74px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#u2796
{
	width: 74px;
	background-color: transparent;
	position: relative;
}

#u2761.MuseMenuActive,#u2796:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2799-4
{
	width: 45px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u2761.MuseMenuActive #u2763-4,#u2796:hover #u2799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2761.MuseMenuActive #u2763-4 p,#u2796:hover #u2799-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2774
{
	width: 104px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 512px;
}

#u2775
{
	width: 104px;
	background-color: transparent;
	position: relative;
}

#u2796.MuseMenuActive,#u2775:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2778-4
{
	width: 75px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u2796.MuseMenuActive #u2799-4,#u2775:hover #u2778-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2796.MuseMenuActive #u2799-4 p,#u2775:hover #u2778-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2788
{
	width: 96px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 618px;
}

#u2789
{
	width: 96px;
	background-color: transparent;
	position: relative;
}

#u2775.MuseMenuActive,#u2789:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2791-4
{
	width: 67px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u2775.MuseMenuActive #u2778-4,#u2789:hover #u2791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2775.MuseMenuActive #u2778-4 p,#u2789:hover #u2791-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2802
{
	width: 78px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 716px;
}

#u2803
{
	width: 78px;
	background-color: transparent;
	position: relative;
}

#u2789.MuseMenuActive,#u2803:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2803.MuseMenuActive
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2805-4
{
	width: 49px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u2789.MuseMenuActive #u2791-4,#u2803:hover #u2805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2803.MuseMenuActive #u2805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2789.MuseMenuActive #u2791-4 p,#u2803:hover #u2805-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2803.MuseMenuActive #u2805-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu229-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 37px;
}

#u229-4
{
	z-index: 9;
	width: 980px;
	min-height: 42px;
	background-color: transparent;
	line-height: 29px;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u232
{
	z-index: 21;
	width: 121px;
	height: 2px;
	border-color: #000000;
	background-color: #A67C52;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 429px;
}

#archivo
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 490px;
}

#u968
{
	z-index: 24;
	width: 373px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 599px;
	left: 117px;
}

#u233
{
	z-index: 25;
	width: 100px;
	height: 100px;
	border-color: #000000;
	-moz-border-radius: 30px 0px 30px 0px ;
	-webkit-border-radius: 30px 0px 30px 0px ;
	-khtml-border-radius: 30px 0px 30px 0px ;
	border-radius: 30px 0px 30px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #C1272D url("../images/icon01.png") no-repeat center center;
}

#u236-4
{
	z-index: 30;
	width: 256px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
}

#u234-4
{
	z-index: 26;
	width: 256px;
	min-height: 64px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u967
{
	z-index: 44;
	width: 373px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 599px;
	left: 530px;
}

#u240
{
	z-index: 45;
	width: 100px;
	height: 100px;
	border-color: #000000;
	-moz-border-radius: 30px 0px 30px 0px ;
	-webkit-border-radius: 30px 0px 30px 0px ;
	-khtml-border-radius: 30px 0px 30px 0px ;
	border-radius: 30px 0px 30px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #C1272D url("../images/icon02.png") no-repeat center center;
}

#u241-4
{
	z-index: 50;
	width: 256px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
}

#u242-4
{
	z-index: 46;
	width: 256px;
	min-height: 64px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u969
{
	z-index: 34;
	width: 373px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 739px;
	left: 117px;
}

#u251
{
	z-index: 35;
	width: 100px;
	height: 100px;
	border-color: #000000;
	-moz-border-radius: 30px 0px 30px 0px ;
	-webkit-border-radius: 30px 0px 30px 0px ;
	-khtml-border-radius: 30px 0px 30px 0px ;
	border-radius: 30px 0px 30px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #C1272D url("../images/icon03.png") no-repeat center center;
}

#u252-4
{
	z-index: 40;
	width: 256px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
}

#u253-4
{
	z-index: 36;
	width: 256px;
	min-height: 64px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u970
{
	z-index: 54;
	width: 373px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 739px;
	left: 530px;
}

#u254
{
	z-index: 55;
	width: 100px;
	height: 100px;
	border-color: #000000;
	-moz-border-radius: 30px 0px 30px 0px ;
	-webkit-border-radius: 30px 0px 30px 0px ;
	-khtml-border-radius: 30px 0px 30px 0px ;
	border-radius: 30px 0px 30px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #C1272D url("../images/icon04.png") no-repeat center center;
}

#pu236-4,#pu241-4,#pu252-4,#pu256-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 117px;
}

#u256-4
{
	z-index: 60;
	width: 256px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
}

#u255-4
{
	z-index: 56;
	width: 256px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
}

#u305
{
	z-index: 64;
	border-color: #000000;
	padding-bottom: 24px;
	background: #000000 url("../images/img1.jpg") no-repeat center top;
	background-size: cover;
}

#u305_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#bd
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 331px;
	left: 599px;
}

#u305-bw
{
	z-index: 64;
	margin-top: 340px;
	height: 349px;
}

#u328-4
{
	z-index: 13;
	width: 980px;
	min-height: 42px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 20px;
	margin-top: 44px;
	position: relative;
}

#u329
{
	z-index: 22;
	width: 121px;
	height: 2px;
	border-color: #000000;
	background-color: #29ABE2;
	margin-left: 449px;
	margin-top: 11px;
	position: relative;
}

#slideshowu1530
{
	z-index: 141;
	width: 0.01px;
	height: 365px;
	margin-left: 182px;
	margin-top: 42px;
	position: relative;
}

#u1533
{
	position: absolute;
	width: 300px;
	height: 365px;
	background-color: transparent;
}

#u1533popup
{
	z-index: 142;
}

#u1536
{
	z-index: 143;
	width: 300px;
	height: 365px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1536_clip
{
	overflow: hidden;
	width: 300px;
	height: 365px;
}

#u1536_img
{
	margin-top: -42px;
	margin-bottom: -42px;
}

#u1529-8
{
	z-index: 133;
	width: 336px;
	min-height: 375px;
	background-color: transparent;
	margin-left: 516px;
	top: -365px;
	margin-bottom: -365px;
	position: relative;
}

#u1529-2,#u1529-3,#u1529-5
{
	text-align: justify;
}

#u783
{
	z-index: 65;
	height: 290px;
	border-color: #000000;
	background: #000000 url("../images/img1.jpg") no-repeat right center;
	background-size: cover;
}

#u783-bw
{
	z-index: 65;
	margin-top: 66px;
	height: 290px;
}

#legal
{
	margin-left: 500px;
	margin-top: 6px;
	position: relative;
}

#u834-4
{
	z-index: 17;
	width: 980px;
	min-height: 42px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 10px;
	margin-top: 41px;
	position: relative;
}

#u835
{
	z-index: 23;
	width: 121px;
	height: 2px;
	border-color: #000000;
	background-color: #29ABE2;
	margin-left: 439px;
	position: relative;
}

#u975
{
	z-index: 66;
	width: 906px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2314px;
	left: 53px;
}

#u836
{
	z-index: 67;
	width: 335px;
	height: 203px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/img2.jpg") no-repeat center center;
	background-size: cover;
}

#u837-19
{
	z-index: 68;
	width: 551px;
	min-height: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#pu904
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 468px;
}

#u904
{
	z-index: 8;
	border-color: #000000;
	background-color: #C1272D;
}

#u904_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-bottom: 449px;
}

#contacto
{
	left: 586px;
	position: relative;
}

#u1603-4
{
	z-index: 146;
	width: 980px;
	min-height: 42px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	left: 116px;
	margin-top: 9px;
	position: relative;
}

#u904-bw
{
	z-index: 8;
	height: 518px;
}

#widgetu908
{
	z-index: 87;
	width: 0.01px;
	height: 420px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 201px;
}

#widgetu919
{
	z-index: 88;
	width: 816px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu919.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u920-4
{
	z-index: 89;
	width: 794px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 39px;
	letter-spacing: 2px;
	color: #C4C4C4;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 16px;
}

.html,#widgetu919.non-empty-st #u920-4
{
	background-color: #FFFFFF;
}

#widgetu919:hover #u920-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#widgetu919.non-empty-st #u920-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu919:hover #u920-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu915
{
	z-index: 93;
	width: 816px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
}

#widgetu915.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 57px -10000px 0px 0px;
}

#u916-4
{
	z-index: 94;
	width: 794px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 39px;
	letter-spacing: 2px;
	color: #C4C4C4;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 16px;
}

#widgetu915.non-empty-st #u916-4
{
	background-color: #FFFFFF;
}

#widgetu919.fld-err-st #u920-4,#widgetu915:hover #u916-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#widgetu915.fld-err-st #u916-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#widgetu915.non-empty-st #u916-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu915:hover #u916-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu919_input,#widgetu919_prompt,#widgetu915_input,#widgetu915_prompt
{
	width: 794px;
	min-height: 40px;
	color: #C4C4C4;
	letter-spacing: 2px;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 16px;
}

#widgetu919:hover #widgetu919_input,#widgetu919.fld-err-st #widgetu919_input,#widgetu919:hover #widgetu919_prompt,#widgetu919.fld-err-st #widgetu919_prompt,#widgetu915:hover #widgetu915_input,#widgetu915.fld-err-st #widgetu915_input,#widgetu915:hover #widgetu915_prompt,#widgetu915.fld-err-st #widgetu915_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u923-4
{
	z-index: 98;
	width: 816px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
}

#widgetu908.frm-sub-st #u923-4 p
{
	color: #FFFFFF;
	text-align: center;
	font-size: 11px;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
}

#u924-4
{
	z-index: 102;
	width: 816px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 2px;
	color: #FF0000;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
}

#widgetu908.frm-subm-err-st #u924-4 p
{
	color: #E03937;
	text-align: center;
	font-size: 11px;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
}

#u909-4
{
	z-index: 106;
	width: 816px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	letter-spacing: 2px;
	color: #00FF00;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
}

#widgetu908.frm-sub-st #u923-4,#widgetu908.frm-subm-err-st #u924-4,#widgetu908.frm-subm-ok-st #u909-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu908.frm-subm-ok-st #u909-4 p
{
	color: #FCEE21;
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

#u910-17
{
	z-index: 110;
	min-height: 57px;
	width: 816px;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	background: url("../images/u910-17.png") no-repeat 0px 0px;
}

#u910-17:hover
{
	background: url("../images/u910-17-r.png") no-repeat 0px 0px;
}

#u910-17:active
{
	background: url("../images/u910-17-m.png") no-repeat 0px 0px;
}

#widgetu908.frm-sub-st #u910-17
{
	background: url("../images/u910-17-fs.png") no-repeat 0px 0px;
}

#widgetu911
{
	z-index: 127;
	width: 816px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
}

#widgetu911.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 114px -10000px 0px 0px;
}

#u913-4
{
	z-index: 128;
	width: 794px;
	min-height: 173px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	color: #C4C4C4;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 21px 6px 6px 16px;
}

#widgetu911.non-empty-st #u913-4
{
	background-color: #FFFFFF;
}

#widgetu911:hover #u913-4
{
	padding-top: 21px;
	padding-bottom: 6px;
	min-height: 173px;
	margin: 0px -10000px 0px 0px;
}

#widgetu911.fld-err-st #u913-4
{
	padding-top: 21px;
	padding-bottom: 6px;
	min-height: 173px;
	margin: 0px -10000px 0px 0px;
}

#widgetu911.non-empty-st #u913-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu911:hover #u913-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu919.fld-err-st #u920-4 *,#widgetu915.fld-err-st #u916-4 *,#widgetu911.fld-err-st #u913-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu911_input,#widgetu911_prompt
{
	width: 794px;
	min-height: 173px;
	color: #C4C4C4;
	letter-spacing: 2px;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	padding: 21px 6px 6px 16px;
}

#widgetu911:hover #widgetu911_input,#widgetu911.fld-err-st #widgetu911_input,#widgetu911:hover #widgetu911_prompt,#widgetu911.fld-err-st #widgetu911_prompt
{
	padding-top: 21px;
	padding-bottom: 6px;
}

#widgetu919.non-empty-st #widgetu919_prompt,#widgetu915.non-empty-st #widgetu915_prompt,#widgetu911.non-empty-st #widgetu911_prompt
{
	visibility: hidden;
}

#u1604
{
	z-index: 150;
	width: 121px;
	height: 2px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 545px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

