.version.temas /* version checker */
{
	color: #000000;
	background-color: #EA4121;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 579.7499999999984px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -571px;
}

#slideshowu3036
{
	z-index: 13;
	width: 0.01px;
	height: 494px;
	left: -100px;
	position: relative;
}

#u3044
{
	position: absolute;
	width: 1220px;
	height: 494px;
	background-color: transparent;
}

#u3044popup
{
	z-index: 14;
}

#u3045
{
	z-index: 15;
	width: 1220px;
	height: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3060-3
{
	z-index: 31;
	width: 5px;
	background-color: transparent;
	margin-left: 677px;
	top: -485px;
	margin-bottom: -17px;
	position: relative;
}

#home
{
	margin-left: 677px;
	top: -432px;
	margin-bottom: -18px;
	position: relative;
}

#pu3054
{
	z-index: 19;
	width: 0.01px;
	position: relative;
	margin-left: 292px;
	margin-top: -278px;
}

#u3054
{
	z-index: 0;
	width: 436px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu3055
{
	width: 0.01px;
	position: relative;
	left: 15px;
	padding-top: 13px;
	z-index: 2;
	padding-bottom: 14px;
}

#u3055
{
	z-index: 20;
	width: 155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	position: relative;
}

#u3056
{
	z-index: 21;
	margin-bottom: -9px;
	position: relative;
	width: 60px;
	margin-right: -10000px;
}

#u3056_img
{
	display: block;
	vertical-align: top;
}

#u3058-4
{
	z-index: 23;
	width: 93px;
	min-height: 27px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 62px;
}

#u3059-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	margin-top: 11px;
	position: relative;
}

#u3053
{
	z-index: 18;
	height: 41px;
	border-color: #000000;
	background-color: #C1272D;
}

#u3053-bw
{
	z-index: 18;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 453px;
}

#menuu3061
{
	z-index: 34;
	width: 794px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 470px;
	left: 94px;
}

#u3083
{
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3084
{
	width: 80px;
	background-color: transparent;
	position: relative;
}

#u3084:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3087-4
{
	width: 50px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u3084:hover #u3087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3084:hover #u3087-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3090
{
	width: 101px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u3091
{
	width: 101px;
	background-color: transparent;
	position: relative;
}

#u3084.MuseMenuActive,#u3091:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3094-4
{
	width: 71px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u3084.MuseMenuActive #u3087-4,#u3091:hover #u3094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3084.MuseMenuActive #u3087-4 p,#u3091:hover #u3094-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3069
{
	width: 249px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u3072
{
	width: 249px;
	background-color: transparent;
	position: relative;
}

#u3091.MuseMenuActive,#u3072:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3073-4
{
	width: 220px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u3091.MuseMenuActive #u3094-4,#u3072:hover #u3073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3091.MuseMenuActive #u3094-4 p,#u3072:hover #u3073-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3104
{
	width: 74px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#u3107
{
	width: 74px;
	background-color: transparent;
	position: relative;
}

#u3072.MuseMenuActive,#u3107:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3108-4
{
	width: 45px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u3072.MuseMenuActive #u3073-4,#u3107:hover #u3108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3072.MuseMenuActive #u3073-4 p,#u3107:hover #u3108-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3062
{
	width: 104px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 512px;
}

#u3065
{
	width: 104px;
	background-color: transparent;
	position: relative;
}

#u3107.MuseMenuActive,#u3065:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3066-4
{
	width: 75px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u3107.MuseMenuActive #u3108-4,#u3065:hover #u3066-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3107.MuseMenuActive #u3108-4 p,#u3065:hover #u3066-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3097
{
	width: 96px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 618px;
}

#u3100
{
	width: 96px;
	background-color: transparent;
	position: relative;
}

#u3065.MuseMenuActive,#u3100:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3101-4
{
	width: 67px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u3065.MuseMenuActive #u3066-4,#u3100:hover #u3101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3065.MuseMenuActive #u3066-4 p,#u3100:hover #u3101-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3076
{
	width: 78px;
	min-height: 14px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 716px;
}

#u3077
{
	width: 78px;
	background-color: transparent;
	position: relative;
}

#u3100.MuseMenuActive,#u3077:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3077.MuseMenuActive
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u3079-4
{
	width: 49px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u3100.MuseMenuActive #u3101-4,#u3077:hover #u3079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3077.MuseMenuActive #u3079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3100.MuseMenuActive #u3101-4 p,#u3077:hover #u3079-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3077.MuseMenuActive #u3079-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u1868-4
{
	z-index: 2;
	width: 84px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #C1272D;
	text-align: center;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	margin-left: 193px;
	margin-top: 43px;
	position: relative;
}

#u1869-7
{
	z-index: 6;
	width: 633px;
	min-height: 326px;
	background-color: transparent;
	text-align: justify;
	margin-left: 193px;
	margin-top: 270px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-bottom: 800px;
}

#page .verticalspacer
{
	clear: both;
}

