<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Acerca de la base de datos</h2>
        <h3 class="section-subheading text-muted">PROYECTO ARCA (Arte Colonial Americano)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="<%= image_url 'about/1.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Proyecto</h4>
                <!--<h4 class="subheading">PROYECTO ARCA (Arte Colonial Americano)</h4>-->
              </div>
              <div class="timeline-body">
                <p class="text-muted">El proyecto Arca se ensambla a partir de la necesidad de establecer una geografía de los temas de las representaciones visuales que surgieron en América colonial. Su elaboración proviene de una pregunta central ¿qué se pintó en América colonial y cuáles son los temas propios a cada región?. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="<%= image_url 'about/2.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Propósito</h4>
                <!--<h4 class="subheading">An Agency is Born</h4>-->
              </div>
              <div class="timeline-body">
                <p class="text-muted">El propósito ha sido reunir toda la producción visual conocida y disponible, de manera que se pueda tener una visión de conjunto de los temas, sus diferencias gestuales, las similitudes en el tratamiento, etc. Para el efecto se han reunido imágenes que provienen principalmente de pintura en sus diferentes soportes, y eventualmente objetos, techos y mural, debida su importancia.  El criterio temporal cubre desde las tempranas imágenes del siglo XVI hasta la década de 1830, cuando se comienza a agotar, aunque no exclusivamente, la tradición colonial.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="<%= image_url 'about/3.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Espacio</h4>
                <!--<h4 class="subheading">Transition to Full Service</h4>-->
              </div>
              <div class="timeline-body">
                <p class="text-muted">Se ha tratado de cubrir toda América, de modo que se pueda tener un acercamiento no sólo a los temas, sino también a los desiguales volúmenes de producción en cada región. Cada tema ha sido clasificado en varias categorías, la mayoría de ellas tomadas de la tradición barroca, de modo que se pueda georreferenciar los datos.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="<%= image_url 'about/4.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>El conjunto</h4>
                <!--<h4 class="subheading">Phase Two Expansion</h4>-->
              </div>
              <div class="timeline-body">
                <p class="text-muted">Como se trata de observar el conjunto de los temas, muchas de estas imágenes no tienen una calidad que permita apreciar sus detalles, pero sí al menos la calidad de la composición. La diversidad de fuentes de donde se han tomado, genera problemas con la autoría, la datación y hasta el mismo título de la obra.  Cualquier pregunta, observación, sugerencia o corrección, será bienvenida.</p>
              </div>
            </div>
          </li>
          <!--<li class="timeline-inverted">-->
            <!--<div class="timeline-image">-->
              <!--<h4>Be Part-->
                <!--<br>Of Our-->
                <!--<br>Story!</h4>-->
            <!--</div>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </div>
</section>