<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Arca</span>
      </div>

      <% if request.env['ORIGINAL_FULLPATH'] == '/' %>
          <div class="col-md-4">
            <span class="list-inline quicklinks">Desarrollado por: Kelvin Guerrero, Santiago Villaveces</span>
            <br>
            <span class="list-inline quicklinks">Correo: kelvin_guerrero@hotmail.com </span>
            <br>
            <span class="list-inline quicklinks">Tel: 314 264 5737 </span>
          </div>
      <% end %>

    </div>
  </div>
</footer>

