<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Arca</span>
      </div>
      <!--<div class="col-md-4">-->
        <!--<ul class="list-inline social-buttons">-->
          <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
          <!--</li>-->
          <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
          <!--</li>-->
          <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li>Desarrollado por Kelvin Guerrero, Santiago Villaveces
          </li>
          <li>Tel: 314 264 5737 - Correo: kelvin_guerrero@hotmail.com
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

