<br>
<br>
<br>
<div class="navbar navbar-default navbar-fixed-bottom" style="background-color:#222222;">
  <div class="container">
    <p class="text-muted">
    <p>&copy; <small>Universidad de los Andes - Facultad de Ingeniería - Departamento de Ingeniería de Sistemas y Computación</small></p>
  </div>
</div>
<%= javascript_include_tag "application" %>
<!-- javascript_include_tag :defaults, :cache => true !-->
