<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Imago</div>
      <div class="intro-lead-in">- Cultura visual colonial de las américas -</div>
      <a href="#services" class="page-scroll btn btn-xl">Ver obras</a>
    </div>
  </div>
</header>