<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Imago</div>
      <div class="intro-lead-in">- Cultura visual de las américas coloniales -</div>
      <a href="#services" class="page-scroll btn btn-xl">Archivos Visuales</a>
    </div>
  </div>
</header>