<!-- Services Section -->
<section id="services" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Archivos</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <a href="<%= artworks_path(:topic=>true) %>" class="portfolio-link" data-toggle="modal">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                      </a>
                    </span>
        <h4 class="service-heading">Temas</h4>
        <p class="text-muted">Busqueda de obras por temas.</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="<%= artworks_path(:authors=>true) %>" class="portfolio-link" data-toggle="modal">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
        <h4 class="service-heading">Autores</h4>
        <p class="text-muted">Busqueda de obras por autores.</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <a href="<%= artworks_path(:region=>true) %>" class="portfolio-link" data-toggle="modal">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                      </a>
                    </span>
        <h4 class="service-heading">Regiones</h4>
        <p class="text-muted">Busqueda de obras por regiones.</p>
      </div>
    </div>
  </div>
</section>